[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/ARM-software/arm-trusted-firmware.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "mfgtools"]
	path = mfgtools
	url = https://github.com/nxp-imx/mfgtools.git
[submodule "optee-os"]
	path = optee-os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/nxp-imx/uboot-imx.git
	branch = lf_v2024.04
